/* Custom Admin CSS for Jazzmin */
.login-box .login-logo img {
    max-width: 150px !important;
    height: auto !important;
    margin-bottom: 20px !important;
}

.login-box .login-logo {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.login-card-body {
    padding-top: 10px !important;
}
